---
import CardPopular from "@/components/CardPopular.astro";
import { popular } from "@/models/model";
---

<div class="flex flex-col lg:max-h-[150vh] max-h-[300vh] mb-20 sm:mt-2 mt-28 px-2">
    <h4 class="text-4xl font-extrabold text-center leading-[50px] mb-5">
        Our Popular Residences
    </h4>
    <div
        class="grid lg:grid-cols-3 md:grid-cols-2 gap-y-10 gap-x-10 lg:px-10 md:px-14 px-10 mt-20"
    >
        {
            popular.map((item) => (
                <CardPopular
                    image={item.image}
                    title={item.title}
                    rooms={item.rooms}
                    ft={item.ft}
                    price={item.price}
                />
            ))
        }
    </div>
</div>
