---
import { about, find, social, support } from "@/models/model";
---

<div
    class="w-full min-h-[60vh] flex sm:flex-row flex-col gap-y-10 sm:items-start items-center justify-between px-20 py-20 bg-[#FEF7F2]"
>
    <div class="flex flex-col">
        <img src="/logo.svg" alt="" class="size-14" />
        <p class="text-[#2B1B12] font-medium max-w-[40vh]">
            Bringing you closer to your dream home, one click at a time.
        </p>
    </div>
    <div class="flex flex-col gap-y-3">
        <h1 class="text-2xl mb-5 font-bold flex flex-col">About Us</h1>
        {
            about.map((item) => (
                <span
                    class="text-[#2B1B12] font-bold"
                    aria-keyshortcuts={item.title}
                >
                    {item.title}
                </span>
            ))
        }
    </div>
    <div class="flex flex-col gap-y-3">
        <h1 class="text-2xl mb-5 font-bold flex flex-col">Support</h1>
        {
            support.map((item) => (
                <span
                    class="text-[#2B1B12] font-bold"
                    aria-keyshortcuts={item.title}
                >
                    {item.title}
                </span>
            ))
        }
    </div>
    <div class="flex flex-col gap-y-3">
        <h1 class="text-2xl mb-5 font-bold flex flex-col">Find Us</h1>
        {
            find.map((item) => (
                <span
                    class="text-[#2B1B12] font-bold"
                    aria-keyshortcuts={item.title}
                >
                    {item.title}
                </span>
            ))
        }
    </div>
    <div class="flex flex-col gap-y-3">
        <h1 class="text-2xl mb-5 font-bold flex flex-col">About Us</h1>
        {
            social.map((item) => (
                <div class="flex items-center gap-x-2">
                    <img src={item.icon} class="size-4" alt="" />
                    <span
                        class="text-[#2B1B12] font-bold"
                        aria-keyshortcuts={item.title}
                    >
                        {item.title}
                    </span>
                </div>
            ))
        }
    </div>
</div>
